{% extends 'base.html' %}
{% block content %}
    <div class="px-3 bg-dark d-flex d-flex h-100 text-center text-white bg-dark">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <h1>
                Biztosan törölni szeretnéd ezt: {{ obj }}?
            </h1>
            <p class="lead">
                <a href="{{ request.META.HTTP_REFERER }}"
                   class="btn btn-lg btn-secondary fw-bold border-white bg-black">Visszalépés az előző oldalra</a>
            </p>
            <form method="POST" action="">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Igen, törölni szeretném.</button>
            </form>
        </div>
    </div>
{% endblock content %}
