{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
{% load static %}

<style>
    .img-max {
      /*max-height: 500px;*/
      height:25%;
        display: block;
      margin-left: auto;
      margin-right: auto;
  /*width: 50%;*/
    }
</style>

<div class="mx-5 px-4">

    <section class="py-3 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Hápl Melinda Festményei</h1>
                <p class="lead text-muted">Mikor alkotok, egy másik világban érzem magam, az ecsetemmel húzott vonalak nem csak a vászonra varázsolnak színt, hanem a hétköznapjaimba is. Remélem, hogy ezeket a színeket át tudom adni az érdeklődőknek, hogy ők is elmélyülhessenek a természet, az érzelmek és a sokféleség világában.</p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <!-- Gallery -->
        <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0">
                {% for i in o1 %}
                <div class="card shadow-sm">
                    <img src="{{i.kep.url}}" class="card-img-top img-max"/>
                    <div class="card-body">
                        <h3 class="card-text">{{ i.cim }}</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url 'kep_reszletek' i.id %}" class="btn btn btn-success">Megtekintés</a>
                                <button type="button" class="btn btn-sm btn-outline-success">{{ i.ar }}Ft</button>
                            </div>
                            <!--                <small class="text-muted">9 mins</small>-->
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                {% for i in o2 %}
                <div class="card shadow-sm">
                    <img src="{{i.kep.url}}" class="card-img-top img-max"/>
                    <div class="card-body">
                        <h3 class="card-text">{{ i.cim }}</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url 'kep_reszletek' i.id %}" class="btn btn btn-success">Megtekintés</a>
                                <button type="button" class="btn btn-sm btn-outline-success">{{ i.ar }}Ft</button>
                            </div>
                            <!--                <small class="text-muted">9 mins</small>-->
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                {% for i in o3 %}
                <div class="card shadow-sm">
                    <img src="{{i.kep.url}}" class="card-img-top img-max"/>
                    <div class="card-body">
                        <h3 class="card-text">{{ i.cim }}</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url 'kep_reszletek' i.id %}" class="btn btn btn-success">Megtekintés</a>
                                <button type="button" class="btn btn-sm btn-outline-success">{{ i.ar }}Ft</button>
                            </div>
                            <!--                <small class="text-muted">9 mins</small>-->
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>

{% endblock content %}
