{% extends 'base.html' %}
{% block content %}
<div class="text-center mt-3">
    <div class="py-4 mx-5">
        <h1 class="mb-5">Kosár tartalom</h1>
<form method="POST" action="">
        <div class="row mb-5">
            <div class="col-2"></div>
            <div class="col-8">
                <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Termék neve</th>
                <th scope="col">Ár</th>
            </tr>
            </thead>
            <tbody>

                {% csrf_token %}
            {% for kep in kosar %}
            <tr>
                <th scope="row">
                    <button class="btn btn-danger" type="submit" name="torles" value="{{kep.id}}">
                        Törlés</button>
                </th>
                <td>{{ kep.cim }}</td>
                <td>{{ kep.ar }}Ft</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
                <button class="btn btn-success px-5 py-3 mt-5" type="submit" name="rendeles">
                    Rendelés</button>
            </div>
            <div class="col-2"></div>
        </div>
</form>

        <br>
        <br>
        <br>
        <br>
        <br>

    </div>
</div>
{% endblock content %}
