{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="text-center mt-3">
    <!-- Inner -->
    <div class="py-4 mx-5">
        <div class="row">
            <div class="col-md-6 my-4">
                <div class="card zoom-img">
                    <img src="{% static 'fenykepek/anya_kep.jpg' %}" class="card-img-top"/>
                </div>
            </div>
            <div class="col-md-6 my-4 p-5 keret">
                Régebben a Herendi porcelángyárban dolgoztam, ott is tudtam kamatoztatni művészi beállítottságomat.
                Jelenleg biztonsági őrként dolgozom, szeretek futni és nem utolsó sorban alkotni.
                Napjaim többségét a gondoskodás teszi ki; két felnőtt fiam van, és egy egészen pici unokám.
                Boldoggá tesz, hogy minden nap láthatom őket, és adhatok nekik; legyen az egy finom ebéd, egy kis beszélgetés, vagy játék a picivel.
                Azáltal, hogy festhetek, úgy érzem, magamról is gondoskodhatok.
                Olyankor csak én vagyok, a vászon, az ecset és a festék, és semmi más, ami elterelné a figyelmem.
            </div>
        </div>
    </div>
</div>
{% endblock content %}
