{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="text-center mt-3">
    <!-- Inner -->
    <div class="py-4 mx-5">
        <div class="row">
            <div class="col-md-6 my-4">
                <div class="card zoom-img">
                    <img src="{% static 'fenykepek/DSC_8675.JPG' %}" class="card-img-top"/>
                </div>
            </div>
            <div class="col-md-6 my-4">
                Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ...
                Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ...
                Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ...
            </div>
        </div>
    </div>
    <div class="py-4 m-3">
        <div class="row">
            <div class="col-md-6 my-4">
                Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ...
                Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ...
                Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ...
            </div>
            <div class="col-md-6 my-4">
                <div class="card zoom-img">
                    <img src="{% static 'fenykepek/DSC_8675.JPG' %}" class="card-img-top"/>
                </div>
            </div>

        </div>
    </div><div class="py-4 m-3">
        <div class="row">

            <div class="col-md-6 my-4">
                <div class="card zoom-img">
                    <img src="{% static 'fenykepek/DSC_8675.JPG' %}" class="card-img-top"/>
                </div>
            </div>
            <div class="col-md-6 my-4">
                Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ...
                Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ...
                Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ... Blah blah ...
            </div>
        </div>
    </div>
</div>
{% endblock content %}
