# Allow access to static files

Options -Indexes
DirectoryIndex index.html

# Allow all access

<IfModule mod_authz_core.c>
    Require all granted
</IfModule>

# Fallback for Apache 2.2

<IfModule !mod_authz_core.c>
Order allow,deny
Allow from all
</IfModule>
